---------

In [1]:
# Import Library

import pandas as pd
from yahoofinancials import YahooFinancials
pd.set_option('max_columns', None)

In [2]:
# import related data and assinged to df
df=pd.read_excel('All IDX Stocks.xlsx')
df

     Unnamed: 0 Ticker with .JK
0             0         BIPI.JK
1             1         ENRG.JK
2             2         MEDC.JK
3             3         MITI.JK
4             4         SUGI.JK
..          ...             ...
798         798         SDMU.JK
799         799         SMDR.JK
800         800         TMAS.JK
801         801         TNCA.JK
802         802         TRUK.JK

[803 rows x 2 columns]

In [3]:
df=df.iloc[:,1:2]
df

    Ticker with .JK
0           BIPI.JK
1           ENRG.JK
2           MEDC.JK
3           MITI.JK
4           SUGI.JK
..              ...
798         SDMU.JK
799         SMDR.JK
800         TMAS.JK
801         TNCA.JK
802         TRUK.JK

[803 rows x 1 columns]

In [5]:
ticker=df['Ticker with .JK'].tolist()
ticker;

-------

In [7]:
# Assinged the ticker data to yahoofinance to get financial data
yahoo_financials = YahooFinancials(ticker)
data_used=yahoo_financials.get_key_statistics_data()

WARNING:root:yahoofinancials ticker: SUGI.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: TRAM.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: SMRU.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: JKSW.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: SIMA.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: KBRI.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: TRIL.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: GOLL.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: NIPS.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: IIKP.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: HDTX.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: HOME.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: MABA.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: TRIO.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: TURI.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: SCPI.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: BSWD.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: PLAS.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: ARMY.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: LCGP.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: MYRX.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: RIMO.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: SKYB.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: MTRA.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...
WARNING:root:yahoofinancials ticker: BTEL.JK error getting keystats - <class 'yahoofinancials.etl.ManagedException'>
	Continuing extraction...

In [6]:
new_data =pd.read_excel('Data Yfinance.xlsx')
new_data

,Unnamed: 0,Stock,Market Cap,Beta,BV,P/BV,EV/EBITDA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,BIPI.JK,5.426750e+10,0.495231,0.007,20571.428000,244582.380
2,1.0,ENRG.JK,2.482120e+10,0.863760,0.024,9250.000000,13392.456
3,2.0,MEDC.JK,2.502530e+10,1.539850,0.062,15000.000000,15934.374
4,3.0,MITI.JK,3.540740e+09,-0.182561,75.699,2.100424,32.695
...,...,...,...,...,...,...,...
777,776.0,SDMU.JK,1.135220e+09,NaN,-0.614,NaN,NaN
778,777.0,SMDR.JK,1.637560e+10,NaN,0.035,10800.000000,16638.918
779,778.0,TMAS.JK,5.688750e+09,0.218664,430.385,6.645213,9.682
780,779.0,TNCA.JK,4.216400e+08,0.519301,102.672,2.668693,70.252
781,780.0,TRUK.JK,0.000000e+00,0.203509,125.132,0.727232,15.651

In [7]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  781 non-null    float64
 1   Stock       781 non-null    object
 2   Market Cap  753 non-null    float64
 3   Beta        504 non-null    float64
 4   BV          754 non-null    float64
 5   P/BV        714 non-null    float64
 6   EV/EBITDA   523 non-null    float64
dtypes: float64(6), object(1)
memory usage: 42.9+ KB

In [8]:
#EDA
new_data.duplicated().sum()

0

In [11]:
# took some industry sector data
Industry = pd.read_excel('newest.xlsx')

In [12]:
Industry

,Kode Saham,Major Sektor Industri,Sektor Industri,Sub Sektor Industri,Harga penutupan Q1,P/E,EPS,Market Cap,Ticker with .JK
0,BIPI,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,144.0,NaN,0.00,7.409222e+12,BIPI.JK
1,ENRG,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,216.0,6.07,39.54,5.957093e+12,ENRG.JK
2,MEDC,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,905.0,2.96,304.00,2.262261e+13,MEDC.JK
3,MITI,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,160.0,28.54,5.57,3.884351e+11,MITI.JK
4,SUGI,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,50.0,NaN,NaN,NaN,SUGI.JK
...,...,...,...,...,...,...,...,...,...
798,SDMU,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,57.0,44.09,1.29,6.470782e+10,SDMU.JK
799,SMDR,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,366.0,1.78,205.80,1.198694e+12,SMDR.JK
800,TMAS,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,2860.0,12.83,225.33,1.648788e+13,TMAS.JK
801,TNCA,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,228.0,162.81,1.74,1.197457e+11,TNCA.JK
802,TRUK,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,92.0,NaN,-10.55,3.915000e+10,TRUK.JK

In [13]:
Industry.drop(Industry.columns[0], axis=1, inplace =True)
Industry.rename(columns={'Ticker with .JK': 'Stock'}, inplace = True)

In [14]:
df_new=new_data.merge(Industry, on ='Stock')
df_new.drop(df_new.columns[0],axis=1,inplace= True)
df_new

,Stock,Market Cap_x,Beta,BV,P/BV,EV/EBITDA,Major Sektor Industri,Sektor Industri,Sub Sektor Industri,Harga penutupan Q1,P/E,EPS,Market Cap_y
0,BIPI.JK,5.426750e+10,0.495231,0.007,20571.428000,244582.380,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,144.0,NaN,0.00,7.409222e+12
1,ENRG.JK,2.482120e+10,0.863760,0.024,9250.000000,13392.456,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,216.0,6.07,39.54,5.957093e+12
2,MEDC.JK,2.502530e+10,1.539850,0.062,15000.000000,15934.374,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,905.0,2.96,304.00,2.262261e+13
3,MITI.JK,3.540740e+09,-0.182561,75.699,2.100424,32.695,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,160.0,28.54,5.57,3.884351e+11
4,SUGI.JK,NaN,NaN,NaN,NaN,NaN,Energy (IDXENERGY),"Oil, Gas, & Coal",Oil and Gas,50.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,SDMU.JK,1.135220e+09,NaN,-0.614,NaN,NaN,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,57.0,44.09,1.29,6.470782e+10
799,SMDR.JK,1.637560e+10,NaN,0.035,10800.000000,16638.918,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,366.0,1.78,205.80,1.198694e+12
800,TMAS.JK,5.688750e+09,0.218664,430.385,6.645213,9.682,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,2860.0,12.83,225.33,1.648788e+13
801,TNCA.JK,4.216400e+08,0.519301,102.672,2.668693,70.252,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,228.0,162.81,1.74,1.197457e+11
802,TRUK.JK,0.000000e+00,0.203509,125.132,0.727232,15.651,Transportation & Logistic (IDXTRANS),Logistics & Deliveries,Logistics & Deliveries,92.0,NaN,-10.55,3.915000e+10

In [15]:
# Import file to Excel to run it on tableau
df_new.to_excel('Data Dashboard 1.xlsx')